@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

body{
	width: 100vw;
	height: 100vh;
	background-color: lightgrey;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

main{

	width: 100vw;
	height: 100vh;
	background-color: #f0f0f0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -webkit-flex-direction: column;
         -ms-flex-direction: column;
             flex-direction: column;

	border: 1.5em solid white;
	box-sizing: border-box;
	text-align: center;
	padding: 0 0 4em 0;

}

main img{
	width: 10em;
	margin: 0;
	padding: 0;

}

.error{
	width: 15em;
/*	  -webkit-transform: translateX(-1em);
      -ms-transform: translateX(-1em);
       -o-transform: translateX(-1em);
          transform: translateX(-1em);*/
}


h1{
	color: #ff5800;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: lighter;
	font-size: 3em;
	line-height: 1.2em;
	margin-top: .5em;
}

h2{
	color: #ff5800;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: lighter;
	font-size: 1.75em;
	line-height: 0;
}
.button{
    padding: .5em .8em .5em .8em;
    font-size: .85em;
    border: 1px solid #ff5800;
    /*background-color: #ff5800;*/
    color: #ff5800;
    float: right;
    text-transform: uppercase;
    display: inline-block;
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}

.button:hover{
	background-color: #ff5800;
	color: #ffffff;

}

@media(max-width: 400px){
	.error{
		width: 10em;
/*		 -webkit-transform: translateX(-.5em);
      -ms-transform: translateX(-.5em);
       -o-transform: translateX(-.5em);
          transform: translateX(-.5em);*/

	}
	h1{
		font-size: 2em;
	}
	.button{
		width: 12em;
	}
}

